// width breakpoint
$breakpoint-xs: 375px;
$breakpoint-s: 700px;
$breakpoint-m: 992px;
$breakpoint-l: 1280px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1680px;

// height breakpoint
$breakpoint-height-xs: 600px;
$breakpoint-height-s: 700px;
$breakpoint-height-m: 768px;
$breakpoint-height-l: 900px;
$breakpoint-height-xl: 1080px;
$breakpoint-height-xxl: 1200px;
